/target
/Cargo.lock
*.swp
.DS_Store
/tmp
/out
docs/
examples/*.pdf
examples/*.png
examples/*.svg
/crates/typstuml-wasm/pkg
/crates/typstuml-wasm/pkg-nomod
/crates/typstuml-wasm/dist
/crates/typstuml-plugin/pkg
/crates/typstuml-plugin/dist
